<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Wakacyjne Warsztaty Wielodyscyplinarne{% endblock %}</title>
        <meta name="description" content="Wakacyjne Warsztaty Wielodyscyplinarne - WWW 10">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="container">
            <div class="page-header">
                <h1>Wakacyjne Warsztaty Wielodyscyplinarne</h1>
                <nav><ul class="listinline">
                    <li><a href="{% url 'workshops' %}">List of workshops</a></li>
                    <li><a href="{% url 'people' %}">List of users</a></li>
                    <li>
                    {% if user.is_authenticated %}
                        Logged in as: <a href="{% url 'person' user.username %}">{{ user.person }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next={% url 'workshops' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </li>
                </ul></nav>
            </div>
            <div id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="container text-center">
                <p class="text-muted">The site was created as a solution of the <a href="http://warsztatywww.nstrefa.pl/showWorkshopTasks(178)" target=_blank>task</a> (No. 2). </p>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--<script src="{% static 'js/script.js' %}"></script>-->
    </body>
</html>
