{% extends 'workshops/includes/base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form role="form" method="post" action="">
		{% csrf_token %}
		<h2>{{ application.person }} - {{ application.workshop }}</h2>
		<div class="form-group">
			<label for="id_qualified">Qualified</label>
			{{ form.qualified }}
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		<hr>
		{% if solutions_list %}
			<p>Solutions:</p>
			<ul>
			{% for solution in solutions_list %}
				<li><a href="{% url 'solution_grade' solution.exercise.pk solution.pk %}">{{ solution.exercise.name }}</a> (grade: <strong>{{ solution.grade }}</strong>)</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>That user haven't sent any solutions for your workshop.</p>
		{% endif %}
	</form>
{% endblock %}
