{% extends 'workshops/includes/base.html' %}

{% block content %}
	{% if applications_list %}
		<p class="lead">Applications for <a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a> workshop:</p>
		<table id="applications-table" class="table table-striped table-condensed">
			<thead>
				<th>Participant's name</th>
				<th>Link to application</th>
				<th>Qualified</th>
			</thead>
			<tbody>
			{% for application in applications_list %}
					<tr>
						<td><a href="{% url 'person' application.person.user.username %}">{{ application.person }}</a></td>
						<td><a href="{% url 'application' workshop.pk application.pk %}">application</td>
						<td><i class="pull-left glyphicon glyphicon-{% if application.qualified %}ok{% else %}remove{% endif %}"></i></td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="lead">There are no applications for <a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a> workshop yet.</p>
	{% endif %}
{% endblock %}
