{% extends 'workshops/includes/base.html' %}

{% block content %}
	<form role="form" method="post" action="" class="form-horizontal text-center">
		{% csrf_token %}
		<p>Are you sure you want to delete <a href="{% url 'exercise' exercise.pk %}">{{ exercise.name }}</a> task from <a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a> workshop?</p>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-lg btn-success">Yes</button>
			<a href="{% url 'exercise' exercise.pk %}" class="btn btn-lg btn-danger">No</a>
		</div>
	</form>
{% endblock %}
