{% extends 'workshops/includes/base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form role="form" method="post" action="">
		{% csrf_token %}
		<p>New task for <a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a> workshop.</p>
		<div class="form-group">
			<label for="id_name">Task's name</label>
			{{ form.name | add_class:'form-control' | attr:'placeholder:Enter name' }}
		</div>
		<div class="form-group">
			<label for="id_text">Task's description</label>
			{{ form.text | add_class:'form-control' | attr:'rows:3' | attr:'placeholder:Enter description'}}
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
{% endblock %}
