{% extends 'workshops/includes/base.html' %}

{% block content %}
	<div id="exercise">
		<h2>{{ exercise.name }}</h2>
		<small>Workshop: <a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a></small><br>
		{% if application %}
		<small>{% if solution.grade %}Your grade: <strong>{{ solution.grade }}</strong>{% else %}You don't have any grade yet.{% endif %}</small>
		{% endif %}
		<br>
		{% if application %}
			<a href="{% url 'solution_update' exercise.pk %}" class="btn btn-info">Your solution</a>
		{% endif %}

		{% if not isOwner and not application %}
			<a href="{% url 'apply' workshop.pk %}" class="btn btn-warning">Apply for the workshop</a>
		{% endif %}

		{% if isOwner or user.is_superuser %}
			<a href="{% url 'solutions' exercise.pk %}" class="btn btn-info">List of solutions</a>
			<a href="{% url 'exercise_edit' exercise.pk %}" class="btn btn-warning">Edit</a>
			<a href="{% url 'exercise_delete' exercise.pk %}" class="btn btn-danger">Delete</a>
		{% endif %}
		<hr/>
		<p id="exercise-text">{{ exercise.text }}</p>
	</div>
{% endblock %}
