{% extends 'workshops/includes/base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		{% if form.errors %}
			<p class="warning">The username or password you entered is incorrect.</p>
		{% endif %}
		<h2 class="form-signin-heading">Sign in</h2>
		{{ form.username | add_class:'form-control' | attr:'placeholder:Username' | attr:'required autofocus' }}
		{{ form.password | add_class:'form-control' | attr:'placeholder:Password' | attr:'required' }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
{% endblock %}
