{% extends 'workshops/includes/base.html' %}

{% block content %}
	<div id="person">
		<h2>{{ person }}</h2>
		<small id="person-text">T-Shirt size: <strong>{{ person.get_shirt_size_display }}</strong></small>
		<hr/>
		{% if host_workshops %}
		<div id="hosted">
		<p>Hosts workshops:</p>
		<ul>
			{% for workshop in host_workshops %}
				<li><a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a></li>
			{% endfor %}
		</ul>
		</div>
		{% else %}
		<p>Doesn't host any workshops.</p>
		{% endif %}
		<hr/>
		{% if applications %}
		<div id="applications">
		<p>Participates in workshops:</p>
		<ul>
			{% for application in applications %}
			<li>
				<a href="{% url 'workshop' application.workshop.pk %}">{{ application.workshop }}
				<i class="pull-left glyphicon glyphicon-{% if application.qualified %}ok{% else %}remove{% endif %}"></i>
				</a>
			</li>
			{% endfor %}
		</ul>
		</div>
		{% else %}
		<p>Doesn't participate in any workshops.</p>
		{% endif %}
	</div>
{% endblock %}
