{% extends 'workshops/includes/base.html' %}

{% block content %}
	{% if people_list %}
		<p class="lead">Users:</p>
		<div class="center-block">
		<ul>
			{% for person in people_list %}
			<li>
				<a href="{% url 'person' person.user.username %}">{{ person }}</a>
			</li>
			{% endfor %}
		</ul>
		</div>
	{% else %}
		<p class="lead">No users.</p>
	{% endif %}
{% endblock %}
