{% extends 'workshops/includes/base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form role="form" method="post" action="">
		{% csrf_token %}
		<p><a href="{% url 'person' application.person.user.username %}">{{ application.person }}'s</a> solution to <a href="{% url 'exercise' exercise.pk %}">{{ exercise.name }}</a> task from <a href="{% url 'workshop' exercise.workshop.pk %}">{{ exercise.workshop }}</a> workshop:</p><br>
		<p>{{ object.text }}</p>
		<hr>
		<div class="form-group col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5 text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<label for="id_grade">Grade</label>
			{{ form.grade | add_class:'form-control' | attr:'cols:2' }}
		</div>
		<br><br><br><br>
		<div class="form-group">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
		<a href="{% url 'solutions' exercise.pk %}" class="small">List of all solutions to this task.</a>
	</form>
{% endblock %}
