{% extends 'workshops/includes/base.html' %}

{% block content %}
	{% if solutions_list %}
		<p class="lead">Solutions to <a href="{% url 'exercise' exercise.pk %}">{{ exercise.name }}</a> task from <a href="{% url 'workshop' exercise.workshop.pk %}">{{ exercise.workshop }}</a> workshop:</p>
		<table id="solutions-table" class="table table-striped table-condensed">
			<thead>
				<th>Participant's name</th>
				<th>Link to application</th>
				<th>Grade</th>
				<th>Link to solution</th>
			</thead>
			<tbody>
			{% for solution in solutions_list %}
					<tr>
						<td><a href="{% url 'person' solution.application.person.user.username %}">{{ solution.application.person }}</a></td>
						<td><a href="{% url 'application' exercise.workshop.pk solution.application.pk %}">application</td>
						<td>{{ solution.grade }}</td>
						<td><a href="{% url 'solution_grade' exercise.pk solution.pk %}">solution</a></td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="lead">No solutions to <a href="{% url 'exercise' exercise.pk %}">{{ exercise.name }}</a> task yet.</p>
	{% endif %}
{% endblock %}
