{% extends 'workshops/includes/base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form role="form" method="post" action="">
		{% csrf_token %}
		<p>Your solution for <a href="{% url 'exercise' exercise.pk %}">{{ exercise }}</a> exercise:</p>
		<div class="form-group">
			{{ form.text | add_class:'form-control' | attr:'rows:10' | attr:'placeholder:Enter solution'}}
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
{% endblock %}
