{% extends 'workshops/includes/base.html' %}

{% block content %}
	<div id="workshop">
		<h2>{{ workshop }}</h2>
		<small>Host: <a href="{% url 'person' workshop.host.user.username %}">{{ workshop.host }}</a></small><br>
		{% if application %}
		<small>{% if application.qualified %}You've qualified for that workshop.{% else %}You've not qualified for that workshop yet.{% endif %}</small>
		{% endif %}
		<br>
		{% if user.is_authenticated %}
			{% if not isOwner %}
				{% if not application %}
					<a href="{% url 'apply' workshop.pk %}" class="btn btn-info">Apply</a>
				{% else %}
					<a href="{% url 'disapply' workshop.pk %}" class="btn btn-warning">Disapply</a>
				{% endif %}
			{% endif %}
			{% if isOwner or user.is_superuser %}
				<a href="{% url 'applications' workshop.pk %}" class="btn btn-info">Applications for that workshop</a>
				<a href="{% url 'workshop_edit' workshop.pk %}" class="btn btn-warning">Edit workshop</a>
				<a href="{% url 'workshop_delete' workshop.pk %}" class="btn btn-danger">Remove workshop</a>
			{% endif %}
		{% endif %}
		<hr>
		<p id="workshop-text">{{ workshop.text }}</p>
		<hr>

		{% if exercises %}
			<h4>Tasks for workshop:</h4>
			<ol>
				{% for exercise in exercises %}
				<li><a href="{% url 'exercise' exercise.pk %}">{{ exercise.name }}</a></li>
				{% endfor %}
			</ol>
			{% else %}
			<p>There are no tasks for that workshop yet.</p>
		{% endif %}

		{% if isOwner or user.is_superuser %}
			<a class="btn btn-default" href="{% url 'exercise_create' workshop.pk %}">Add new task</a>
		{% endif %}

		<hr>

		{% if applications %}
			<div id="applications">
				<h4>Participants applying for that workshop:</h4>
				<ul>
					{% for application in applications %}
					<li>
						<a href="{% url 'person' application.person.user.username %}">{{ application.person }}
						<i class="pull-left glyphicon glyphicon-{% if application.qualified %}ok{% else %}remove{% endif %}"></i>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p>There are not participants applying for that workshop.</p>
		{% endif %}

	</div>
{% endblock %}
