{% extends 'workshops/includes/base.html' %}

{% block content %}
	{% if workshops_list %}
		<table id="workshops-table" class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Workshop's name</th>
					<th>Host</th>
				</tr>
			</thead>
			<tbody>
				{% for workshop in workshops_list %}
					<tr>
						<td><a href="{% url 'workshop' workshop.pk %}">{{ workshop }}</a></td>
						<td><a href="{% url 'person' workshop.host.user.username %}">{{ workshop.host }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="lead">No workshops.</p>
	{% endif %}
	{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'workshop_create' %}">Add new workshop</a>
	{% endif %}
{% endblock %}
